/*row 1 of squares*/
.glass01 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass02 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass03 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass04 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass05 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
.glass06 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass07 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass08 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass09 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass10 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

/*row 2 of squares*/
.glass11 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass12 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass13 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass14 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass15 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
.glass16 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass17 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass18 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass19 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass20 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

/*row 3 of squares*/
.glass21 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass22 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass23 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass24 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass25 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
.glass26 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass27 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass28 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass29 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass30 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

/*row 4 of squares*/
.glass31 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass32 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass33 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass34 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass35 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
.glass36 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass37 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass38 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass39 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass40 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

/*row 5 of squares*/
.glass41 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass42 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass43 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass44 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass45 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
.glass46 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass47 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass48 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass49 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}

.glass50 {
   width: 10%; height:20%; float:left;
   background-color:rgba(17,17,17,.7);
}
