body {
   margin: 6rem 4rem;
   background-color: #111
}

/*BAR and TITLE*/
a{
   color: white;
   font-family: Georgia;
   text-decoration: none;
}

h1 {
   font-size: 2rem;
   padding-left:7%;
}

.title {
   font-size: 3rem;
}

li {
   display: inline-block;
   text-decoration: none;
   font-size: 1.3rem;
   padding: 1.1rem 2.3rem;
   margin: .5rem;
   background-color: #222;
   width: 170px;
   text-align: center;
}

.bar-options-home {
   margin-top: 7rem;
   width:1000px;
}

.bar-options{
   margin-right:auto;
   margin-left:auto;
   width:1000px;
}

.desc {
   padding-left:7%;
   padding-top: 3rem;
   width:700px;
   color: #888;
   line-height: 1.8rem;
   font-family: Georgia;
   font-style: italic;
   font-size: 1.2rem;
}
